@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    max-width: 1440px;
    height: 100vh;
    background-color : hsl(212, 45%, 89%) ;
    font-family: 'Outfit',sans-serif;
}

.qr-card {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    width: 20rem;
    height: 31.1875rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
}

.card-image {
    width :288px;
    height : 288px;
    align-items: center;
    border-radius: 10px;
    margin-top: 0.5rem;
}

.card-heading {
    color: hsl(218, 44%, 22%);
    font-weight: bold;
    width: 16rem;
    margin: auto;
    margin-top: 1.5rem;
    font-size: 1.375rem;
}

.card-desc {
    font-weight: 400;
    color: hsl(216, 15%, 48%);
    margin: auto;
    margin-top: 1.3125rem;
    margin-bottom: 1.5rem;
    width: 16rem;
    font-size: 0.9375rem;
    letter-spacing: 0.2px;
}

@media(width<640px) {

}